# OTRS Environment Variables
OTRS_RPC_URL="{{ otrs_rpc_url }}"
OTRS_RPC_USER="{{ otrs_rpc_user }}"
OTRS_RPC_PASSW="{{ otrs_rpc_passw }}"
OTRS_URL="{{ otrs_url }}"
OTRS_USER="{{ otrs_user }}"
OTRS_PASSW="{{ otrs_password }}"
{% if otrs_add_coverage_info_enabled is defined %}
OTRS_ADD_COVERAGE_INFO_ENABLED="{{ otrs_add_coverage_info_enabled }}"
{% endif %}

# Celery Tryton vars
TRYTON_DATABASE="{{ tryton_database }}"
TRYTON_CONFIG="{{ tryton_config }}"
CELERY_USER="{{ celery_user }}"
CELERY_PASSWORD="{{ celery_password }}"
CELERY_HOST="{{ celery_user }}"
CELERY_PORT="{{ celery_port }}"
CELERY_VHOST="{{ celery_vhost }}"

# Flower vars
FLOWER_USER="{{ flower_user }}"
FLOWER_PASSWORD="{{ flower_password }}"

# OPENCELL vars
OPENCELL_BASEURL="{{ opencell_url }}"
OPENCELL_USER="{{ opencell_user }}"
OPENCELL_PASSWORD="{{ opencell_password }}"

# uWSGI
PYTHONPATH=~/eticom/trytond

# Webforms Bugsnag API key
BUGSNAG_API_KEY="{{ bugsnag_api_key }}"
BUGSNAG_RELEASE_STAGE="{{ bugsnag_release_stage }}"

# All other Bugsnag API keys
BUGSNAG_SOM_CONNEXIO_TRYTON_MODULE_API_KEY="{{ bugsnag_som_connexio_tryton_module_api_key }}"
BUGSNAG_OPENCELL_SOMCONNEXIO_TRYTON_API_KEY="{{ bugsnag_opencell_somconnexio_tryton_api_key }}"
BUGSNAG_CONTRACT_CHANGES_WIZARDS_SOMCONNEXIO_API_KEY="{{ bugsnag_contract_changes_wizards_somconnexio_api_key }}"

# SomOffice vars
SOMOFFICE_URL="{{ somoffice_url }}"
SOMOFFICE_USER="{{ somoffice_user }}"
SOMOFFICE_PASSWORD="{{ somoffice_password }}"
