[Unit]
Description=Tryton-EticomCelery server

[Service]
ExecStart={{ virtualenv_path }}/bin/celery worker --workdir={{ eticom_path }}/trytond -A trytond.modules.eticom.tasks --loglevel=info --time-limit=7400 -f /var/log/eticom/opencell-celery.log
EnvironmentFile=/etc/default/trytond

User={{ tryton_user }}

[Install]
Alias=eticom-celery.service
WantedBy=multi-user.target
