[Unit]
Description=Tryton-OpenCell Celery server

[Service]
ExecStart={{ virtualenv_path }}/bin/celery worker --workdir={{ eticom_path }}/trytond -A trytond.modules.opencell_somconnexio.opencell_somconnexio.tryton_tasks.tasks --loglevel=info --time-limit=7400 -f /var/log/eticom/eticom-celery.log -Q opencell
EnvironmentFile=/etc/default/trytond

User={{ tryton_user }}

[Install]
Alias=opencell-celery.service
WantedBy=multi-user.target
