# OTRS Environment Variables
OTRS_SALT={{ OTRS_SALT }}
OTRS_RPC_URL={{ OTRS_RPC_url }}
OTRS_RPC_USER={{ OTRS_RPC_user }}
OTRS_RPC_PASSW={{ OTRS_RPC_passw }}

# Celery Tryton vars
TRYTON_DATABASE={{ TRYTON_DATABASE }}
TRYTON_CONFIG={{ TRYTON_CONFIG }}
CELERY_USER={{ CELERY_USER }}
CELERY_PASSWORD={{ CELERY_PASSWORD }}
CELERY_HOST={{ CELERY_USER }}
CELERY_PORT={{ CELERY_PORT }}
CELERY_VHOST={{ CELERY_VHOST }}

# Flower vars
FLOWER_USER={{ FLOWER_USER }}
FLOWER_PASSWORD={{ FLOWER_PASSWORD }}