# OTRS Environment Variables
OTRS_SALT={{ OTRS_SALT }}
OTRS_RPC_URL={{ OTRS_RPC_url }}
OTRS_RPC_USER={{ OTRS_RPC_user }}
OTRS_RPC_PASSW={{ OTRS_RPC_passw }}

# Celery Tryton vars
TRYTON_DATABASE={{ TRYTON_DATABASE }}
TRYTON_CONFIG={{ TRYTON_CONFIG }}
CELERY_USER={{ celery_user }}
CELERY_PASSWORD={{ celery_password }}
CELERY_HOST={{ celery_host }}
CELERY_PORT={{ celery_port }}
CELERY_VHOST={{ celery_vhost }}
