# Tryton Cron
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl status trytond-cron
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl start trytond-cron
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl stop trytond-cron
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl restart trytond-cron
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl reload trytond-cron
# Tryton 1
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl status trytond@trytond1
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl start trytond@trytond1
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl stop trytond@trytond1
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl restart trytond@trytond1
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl reload trytond@trytond1
# Tryton 2
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl status trytond@trytond2
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl start trytond@trytond2
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl stop trytond@trytond2
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl restart trytond@trytond2
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl reload trytond@trytond2
# Tryton 3
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl status trytond@trytond3
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl start trytond@trytond3
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl stop trytond@trytond3
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl restart trytond@trytond3
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl reload trytond@trytond3
# Tryton 4
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl status trytond@trytond4
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl start trytond@trytond4
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl stop trytond@trytond4
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl restart trytond@trytond4
%{{ tryton_user }} ALL=(ALL) NOPASSWD: /bin/systemctl reload trytond@trytond4
