[Unit]
Description=Tryton server

[Service]
ExecStart={{ virtualenv_path }}/bin/python {{ eticom_path }}/trytond/bin/trytond -c /etc/trytond/eticom.conf --logconf /etc/trytond/eticom.logconf --cron
EnvironmentFile=/etc/default/trytond

User={{ tryton_user }}

[Install]
Alias=trytond-cron.service
WantedBy=multi-user.target
