[Unit]
Description=Tryton Celery server

[Service]
ExecStart={{ virtualenv_path }}/bin/celery worker --workdir={{ eticom_path }}/trytond -A trytond.modules.eticom.tasks --loglevel=info --time-limit=7400
EnvironmentFile=/etc/default/trytond

User={{ tryton_user }}

[Install]
Alias=trytond-celery.service
WantedBy=multi-user.target
