[jsonrpc]
# Defines a comma separated list of couple of host (or IP address) and port
# number separeted by a colon to listen on.
listen = *:{{ listen_port }}

# Defines the hostname for this network interface
#hostname =

# Defines the root path to retrieve data for `GET` request
data = public_data/sao

[xmlrpc]
# Same as for `jsonrpc` except it have no default value.
#listen = *:8069

[webdav]
# Same as for `jsonrpc` except it have no default value.
#listen = *:8787

[digits]
unit_price_digits = 4

[database]
# Contains the URI to connect to the SQL database. The URI follows the
# RFC-3986_.
# database://username:password@host:port/db_name
#    database:
#        postgresql
#        sqlite
#        mysql
uri={{ db_uri }}

# The directory where Tryton should store files.
path = /home/administrator/attachments

# A boolean value (default: `True`) to list available databases.
list = True

# The number of retries when a database operation error occurs during a
# request.
#retry = 5

# The main language (default: `en_US`) of the database that will be stored in
# the main table for translatable fields.
language = en_US

# Max number of connections to database
max_connections = 50

[ssl]
# openssl req -new -x509 -keyout server.key -out server.pem -days 3650 -nodes
# privatekey = /home/administrator/cert/eticom/server.key
# certificate = /home/administrator/cert/eticom/server.pem

[email]
# The SMTP-URL_ to connect to the SMTP server which is extended to support SSL_
# and STARTTLS_
# The available protocols are:
#     - `smtp`: simple SMTP
#     - `smtp+tls`: SMTP with STARTTLS_
#     - `smtps`: SMTP with SSL
#uri = smtp://localhost:25

# Defines the default `From` address when Tryton send emails.
#from =

[session]
# The time in second before a session expires.
timeout = 3600

# Theserver password uses to authenticate database management from the client.
# It is encrypted using using the Unix `crypt(3)` routine.
# python -c 'import getpass,crypt,random,string; print crypt.crypt(getpass.getpass(), "".join(random.sample(string.ascii_letters + string.digits, 8)))'
super_pwd = {{ super_pwd }}

[report]
# The parameters for `unoconv`.
#
# .. _JSON-RPC: http://en.wikipedia.org/wiki/JSON-RPC
# .. _XML-RPC: http://en.wikipedia.org/wiki/XML-RPC
# .. _WebDAV: http://en.wikipedia.org/wiki/WebDAV
# .. _RFC-3986: http://tools.ietf.org/html/rfc3986
# .. _SMTP-URL: http://tools.ietf.org/html/draft-earhart-url-smtp-00
# .. _SSL: http://en.wikipedia.org/wiki/Secure_Sockets_Layer
# .. _STARTTLS: http://en.wikipedia.org/wiki/STARTTLS
#unoconv =

[dbcopy]
path = /home/administrator/backups

[jasper]
# File where the jasper server pid will be stored.
pid = /var/run/trytond/eticom-jasper.pid

# Port for jasper
port = 8090

# List separetd by coma about the possible fonts paths, where are the *.jar
# files generated by iReports witn font definitions.
#fonts_path = /home/administrator/eticom/modules/$$$

# Determines if temporary files will be removed
unlink = True

# Use cache?
use_cache = True

[optional]
# Enable develpment mode
dev = True

# Enable cron
cron = {{ cron }}

# File where the server pid will be stored
pidfile = {{ pidfile }}

# File where the server print the logs
logconf = {{ logconf }}

# Enable verbose mode
verbose = {{ verbose }}

# Start multi processes, could be False or the number of workers.
#workers = 4
workers = False

# Path to the nginx template config files, formatted with jinja2, or False.
#nginx_tmpl = /home/administrator/eticom/config/templates/nginx.tmpl
nginx_tmpl = False

[smtp]
max_connections = {{ smtp_max_connections }}
